$color-primary : #2EC4B6;
$color-primary-light : #CBF3F0;
$color-primary-lighter : #E5F9F8;
$color-primary-dark : #23796a;
$color-primary-darker : #0C322E;

$color-primary-new : #2EAC9F;
$color-primary-old : #2EC4B6;



$color-secondary : #FF9F1C;
$color-secondary-light : #FFBF69;
$color-secondary-lighter : #FFDFB4;
$color-secondary-dark : #120C02;
$color-secondary-darker : #D5851E;


$background-color-primary : #EDF6F9;
$background-color-secondary : #FFEFDA;

$shade-dark : #141A19;
$shade-light : #eaf4f4;

$width-lg : 75%;
$width-md : 86%;
$width-sm : 90%;

$transition : all 0.4s ease;

$body-background-1 : #f1faee;
$body-background-2 : #f5ebe0;
$body-background-3 : #f8edeb;
$body-background-4 : #edf6f9;
$body-background-light : #eaf4f4;
$body-background-4 : #ffefd4;


$body-background-dark : #141A19; //
$body-background-dark-1 : #0b1315;
$body-background-dark-2 : #212529;
$body-background-dark-3 : #353535;
$body-background-dark-4 : #151E1D; //
$body-background-dark-5 : #293241;






